<!-- START HEADER -->
<div class="header ">
  <!-- START MOBILE SIDEBAR TOGGLE -->
  <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
  </a>
  <!-- END MOBILE SIDEBAR TOGGLE -->
  <div style="margin-left:15%">
    <div class="brand inline">
      <!-- <img src="../../../assets/img/logo.png" alt="logo" width="99" height="36"> -->
      <p style="font-size: 16px;font-weight: bold;color:#0c69b5;margin-left: 72px">Quản lý khách sạn</p>
    </div>
  </div>
  <div class="d-flex align-items-center" *ngIf="hasPermission">
    <!-- START NOTIFICATION LIST -->
    <ul class="hidden-md-down notification-list no-margin hidden-sm-down b-grey b-l b-r no-style p-l-30 p-r-20">
      <li class="p-r-10 inline">
        <div class="dropdown" (clickOutside)="outSideNotification()">
          <a class="notification" id="dLabel" role="button" data-toggle="dropdown" data-target="#" (click)="openNotification()">
            <i class="fa fa-bell-o" aria-hidden="true"> </i>
            <span class="badge" *ngIf="count>0">{{count}}</span>
           </a>
          <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
            <div *ngIf="show" >
              <perfect-scrollbar class="ps" [style.max-height.vh]="SHOW_HIDE_COL_HEIGHT">

              <div class="notification-heading">
                <p class="menu-title" style="color: white" *ngIf="count>0">Thông báo mới ({{count}})</p>
                <p class="menu-title" style="color: white" *ngIf="count==0">Bạn không có thông báo nào</p>
              </div>

              <!--<li class="divider"></li>-->
              <div class="notifications-wrapper">
                  <ng-container *ngFor="let item of listNotification">
                  <p *ngIf="!item.status" style="background-color: aliceblue; padding: 5px;margin: 0;text-align: inherit;font-size: 15px;" (click)="updateIteam(item.id)">{{item.note}}</p>
                  <p *ngIf="item.status" style="padding: 5px;margin: 0;text-align: inherit;font-size: 15px;" (click)="updateIteam(item.id)" >{{item.note}}</p>

                  </ng-container>
              </div>
              <!--<li class="divider"></li>-->
              <div class="notification-footer"></div>
              </perfect-scrollbar>
            </div>
          </ul>
        </div>
      </li>
    </ul>
    <!-- START User Info-->
    <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down">
      <span class="semi-bold" style="color: #ff0000">{{getUserName()?.lastName}} {{getUserName()?.firstName}}</span>
    </div>
    <div class="dropdown pull-right hidden-md-down font-text" ngbDropdown>
      <button class="profile-dropdown-toggle" ngbDropdownToggle type="button" id="profileDropdown">
        <span class="thumbnail-wrapper d32 circular inline">
          <i class="fa fa-user-circle icon-logo" aria-hidden="true"></i>
        </span>
      </button>
      <div class="dropdown-menu-bar dropdown-menu-right profile-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
        <div class="row ml-0 mt-3">
          <div class="col-6 name-text">
            Mã nhân sự:
          </div>
          <div class="col-6 content-text">
            {{currentlogin.code}}
          </div>
        </div>
        <div class="row ml-0  mt-2">
          <div class="col-6  name-text">
            Họ tên:
          </div>
          <div class="col-6 content-text">
            {{currentlogin.fullName}}
          </div>
        </div>
        <div class="row ml-0 mt-2">
          <div class="col-6 name-text">
            Mail:
          </div>
          <div class="col-6 content-text">
            {{currentlogin.email}}
          </div>
        </div>
        <div class="row mt-3 ml-0 pl-2 pr-0 mb-2">
          <div class="col-6 pl-3"><a class="a-custom" (click)="openChangePassword()" style="text-align: left;display: block;">Đổi mật khẩu
          </a></div>
          <div class="col-6 pr-5"><a class="a-custom" (click)="logOut()" style="text-align: right;display: block;">Đăng xuất
          </a></div>
        </div>

        </a>-->
      </div>
    </div>
  </div>
</div>
<!-- END HEADER -->
<jhi-notification></jhi-notification>
