<!--</div>-->
<div [handle]="handle" class="modal-import" jhiModalDrag>
  <div #handle class="modal-header">
    <h5 class="modal-title mt-0">{{title}}</h5>
    <button #closeBtn (click)="onCancel()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label required">Mã dịch vụ</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                   [readOnly]="type === 'detail'||type==='update'"
                   class="form-control"
                   formControlName="servicecode"
                   maxlength="255" type="text"
            />
            <jhi-error-messages *ngIf="formControl['servicecode'].hasError('required')"
                                [displayError]="isFieldValid('servicecode')"
                                errorMsg="{{ 'user.validate.code.required' | translate }}">
            </jhi-error-messages>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label required">Tên dịch vụ</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="servicename"
                   maxlength="255" type="text"/>
            <jhi-error-messages *ngIf="formControl['servicename'].hasError('required')"
                                [displayError]="isFieldValid('servicename')"
                                errorMsg="{{ 'user.validate.fullName.required' | translate }}">
            </jhi-error-messages>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">Giá </label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="price"
                   type="number"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-check-input" type="checkbox" formControlName="status">
            <label class="form-check-label" class="form-control-label">
              Trạng thái
            </label>

            <!--            <label class="form-control-label ">Trạng thái</label>-->
            <!--            <input class="form-check-input" type="checkbox"  formControlName="status">-->

            <!--              <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"-->
            <!--                   class="form-control"-->
            <!--                   formControlName="status"-->
            <!--                   type="text"/>-->
          </div>
        </div>
      </div>





<!--      <div>-->
<!--        <div style="text-align:center">-->
<!--          <div class="row">-->
<!--            <div class="col-md-4"></div>-->
<!--            <div class="col-md-3">-->
<!--              <ngb-carousel *ngIf="listurl">-->
<!--                <div *ngFor="let user of listurl; index as i; first as isFirst">-->
<!--                  <ng-template  ngbSlide>-->
<!--                    <div class="picsum-img-wrapper">-->
<!--                      <img [src]="user.data" style="height: 200px;width: 200px;" (click)="deleteImgCustom(i)">-->
<!--                    </div>-->
<!--                  </ng-template>-->

<!--                  &lt;!&ndash; <button *ngIf="type==='update'||type==='add'" (click)="cleanAnh(i)">Xóa ảnh</button> &ndash;&gt;-->
<!--                </div>-->
<!--              </ngb-carousel>-->
<!--            </div>-->
<!--            <div class="col-md-"></div>-->
<!--          </div>-->
<!--          <div *ngIf="type==='update'||type==='add'">-->
<!--            <input type="file" multiple (change)="selectFile($event)">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->



      <div class="row">
        <div *ngFor="let user of listurl; index as i; first as isFirst">
          <div class="col-md-6">
            <div class="picsum-img-wrapper">
              <img [src]="user.data" style="height: 150px;width: 150px;" (click)="deleteImgCustom(i)">
            </div>
          </div>
        </div>
        <div *ngIf="type==='update'||type==='add'" style="height: 150px;width: 150px;">
          <input style="padding-top: 60px;" type="file"  (change)="selectFile($event)">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">Ghi chú </label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="note"
                   type="text"/>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="action-btn">
    <button #cancelBtn (click)="onCancel()" class="btn btn-light alight" type="button">
      <i aria-hidden="true" class="fa fa-times mr-2"></i><span
      jhiTranslate="{{(type !== 'detail'? 'common.button.confirm.cancel' : 'common.button.close')}}">Hủy bỏ</span>
    </button>
    <button (click)="onSubmitData()" *ngIf="type !== 'detail'" class="btn btn-primary" type="submit">
      <i aria-hidden="true" class="fa fa-floppy-o mr-2"></i><span
      jhiTranslate="common.button.confirm.save">Ghi lại</span>
    </button>
  </div>


</div>

