<!--</div>-->
<div [handle]="handle" class="modal-import" jhiModalDrag>
  <div #handle class="modal-header">
    <h5 class="modal-title mt-0">{{title}}</h5>
    <button #closeBtn (click)="onCancel()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label required">Mã khuyến mại</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                   [readOnly]="type === 'detail'||type==='update'"
                   class="form-control"
                   formControlName="promotionCode"
                   maxlength="255" type="text"
            />
            <jhi-error-messages *ngIf="formControl['promotionCode'].hasError('required')"
                                [displayError]="isFieldValid('promotionCode')"
                                errorMsg="{{ 'user.validate.code.required' | translate }}">
            </jhi-error-messages>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label required">Tên tên khuyến mại</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="promotionName"
                   maxlength="255" type="text"/>
            <jhi-error-messages *ngIf="formControl['promotionName'].hasError('required')"
                                [displayError]="isFieldValid('promotionName')"
                                errorMsg="{{ 'user.validate.fullName.required' | translate }}">
            </jhi-error-messages>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [ngClass]="displayFieldHasError('startDate')">
            <label class="form-control-label ">Ngày bắt đầu</label>
            <jhi-date-picker formControlName="startDate"></jhi-date-picker>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [ngClass]="displayFieldHasError('endDate')">
            <label class="form-control-label ">Ngày kết thúc</label>
            <jhi-date-picker formControlName="endDate"></jhi-date-picker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">mức khuyến mại</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="percentPromotion"
                   type="number"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">Loại phòng</label>
            <ng-select class="cursor-text scroll-ng-select"
                       bindLabel="name" formControlName="roomTypeID" bindValue="roomTypeId"
                       notFoundText="{{ 'common.select.notFoundText' | translate }}"
                       placeholder="{{ 'common.select.option.default' | translate }}"
                       clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                       [items]="roomTypeList"
                       [multiple]="true"
                       [readonly]="type === 'detail'||checkBoll">
            </ng-select>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">nghi chú</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="note"
                   type="text"/>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="action-btn">
    <button #cancelBtn (click)="onCancel()" class="btn btn-light alight" type="button">
      <i aria-hidden="true" class="fa fa-times mr-2"></i><span
      jhiTranslate="{{(type !== 'detail'? 'common.button.confirm.cancel' : 'common.button.close')}}">Hủy bỏ</span>
    </button>
    <button (click)="onSubmitData()" *ngIf="type !== 'detail'" class="btn btn-primary" type="submit">
      <i aria-hidden="true" class="fa fa-floppy-o mr-2"></i><span
      jhiTranslate="common.button.confirm.save">Ghi lại</span>
    </button>
  </div>


</div>

