<!--</div>-->
<div [handle]="handle" class="modal-import" jhiModalDrag>
  <div #handle class="modal-header">
    <h5 class="modal-title mt-0">{{title}}</h5>
    <button #closeBtn (click)="onCancel()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label required">Mã phòng</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                   [readOnly]="type === 'detail'||type==='update'"
                   class="form-control"
                   formControlName="roomCode"
                   maxlength="255" type="text"
            />
            <jhi-error-messages *ngIf="formControl['roomCode'].hasError('required')"
                                [displayError]="isFieldValid('roomCode')"
                                errorMsg="{{ 'user.validate.code.required' | translate }}">
            </jhi-error-messages>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label required">Tên tên phòng </label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="roomName"
                   maxlength="255" type="text"/>
            <jhi-error-messages *ngIf="formControl['roomName'].hasError('required')"
                                [displayError]="isFieldValid('roomName')"
                                errorMsg="{{ 'user.validate.fullName.required' | translate }}">
            </jhi-error-messages>
          </div>
        </div>
      </div>
      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">Nhân viên phụ trách </label>
            <ng-select class="cursor-text scroll-ng-select"
                       bindLabel="fullName" formControlName="humanResourcesId" bindValue="humanResourceId"
                       notFoundText="{{ 'common.select.notFoundText' | translate }}"
                       placeholder="{{ 'common.select.option.default' | translate }}"
                       clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                       [items]="humanresourecsList"
                       [multiple]="false"
                       [readonly]="type === 'detail'||checkBoll">
            </ng-select>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">Vị trí</label>
            <ng-select class="cursor-text scroll-ng-select"
                       bindLabel="name" formControlName="floorNumber" bindValue="id"
                       notFoundText="{{ 'common.select.notFoundText' | translate }}"
                       placeholder="{{ 'common.select.option.default' | translate }}"
                       clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                       [items]="roomFloorList"
                       [multiple]="false"
                       [readonly]="type === 'detail'||checkBoll">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">Loại phòng</label>
            <ng-select class="cursor-text scroll-ng-select"
                       bindLabel="name" formControlName="roomType" bindValue="roomTypeId"
                       notFoundText="{{ 'common.select.notFoundText' | translate }}"
                       placeholder="{{ 'common.select.option.default' | translate }}"
                       clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                       [items]="roomTypeList"
                       [multiple]="false"
                       [readonly]="type === 'detail'||checkBoll">
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label ">Giá phòng</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="price"
                   type="number"/>
          </div>
        </div>


      </div>
      <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label ">Sức chưa</label>
                    <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                           class="form-control"
                           formControlName="maxNumber"
                           type="number"/>
                  </div>
                </div>
      </div>

      <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label required">Tài sản trong phòng</label>
                    <ng-select class="cursor-text scroll-ng-select"
                               bindLabel="assetname" formControlName="assetId" bindValue="assetId"
                               notFoundText="{{ 'common.select.notFoundText' | translate }}"
                               placeholder="{{ 'common.select.option.default' | translate }}"
                               clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                               [items]="assetList"
                               [multiple]="true"
                               [readonly]="type === 'detail'||checkBoll">
                    </ng-select>
                  </div>
                </div>

      </div>



      <div class="row">
        <div *ngFor="let user of listurl; index as i; first as isFirst">
          <div class="col-md-6">
            <div class="picsum-img-wrapper">
              <img [src]="user.data" style="height: 150px;width: 150px;" (click)="deleteImgCustom(i)">
            </div>
          </div>
        </div>
        <div *ngIf="type==='update'||type==='add'" style="height: 150px;width: 150px;">
          <input style="padding-top: 60px;" type="file"  (change)="selectFile($event)">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>

          <input #saveUserNameCheckBox
                 id="tivi"
                 type="checkbox"
                 [checked]="tivi"
                 (change)="ontivi(saveUserNameCheckBox.checked)" />
            Tivi
          </label>
        </div>
        <div class="col-md-3">
          <label>

            <input
                   id="elevator"
                   type="checkbox"
                   [checked]="elevator"
                   (change)="onelevator(saveUserNameCheckBox.checked)" />
            Thang máy
          </label>
        </div>
        <div class="col-md-3">
          <label>

            <input
                   id="pet"
                   type="checkbox"
                   [checked]="pet"
                   (change)="onpet(saveUserNameCheckBox.checked)" />
            Được nuôi thú cưng
          </label>
        </div>
      </div>




      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-control-label ">Nghi chú</label>
            <input [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''" [readOnly]="type === 'detail'"
                   class="form-control"
                   formControlName="note"
                   type="text"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="action-btn">
    <button #cancelBtn (click)="onCancel()" class="btn btn-light alight" type="button">
      <i aria-hidden="true" class="fa fa-times mr-2"></i><span
      jhiTranslate="{{(type !== 'detail'? 'common.button.confirm.cancel' : 'common.button.close')}}">Hủy bỏ</span>
    </button>
    <button (click)="onSubmitData()" *ngIf="type !== 'detail'" class="btn btn-primary" type="submit">
      <i aria-hidden="true" class="fa fa-floppy-o mr-2"></i><span
      jhiTranslate="common.button.confirm.save">Ghi lại</span>
    </button>
  </div>


</div>

